<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://nuget.pkg.github.com/fusionary/index.json" />
    </config>
    <!-- 
    add a Nuget.config file at ~/.nuget/NuGet/NuGet.Config with the following information
    <packageSources>
        ...
        <add key="github" value="https://nuget.pkg.github.com/fusionary/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="your_gh_username" />
            <add key="ClearTextPassword" value="your_ghp_token" />
        </github>
    </packageSourceCredentials>
    -->
</configuration>